# PostgreSQL Data
data/

# Gradle Build
build/
.gradle/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# Environment Variables
.env
.env.local

# IDE
.idea/
*.iml
.vscode/

# macOS
.DS_Store

# Logs
*.log

# jOOQ Generated Code
**/build/generated-src/jooq/

# Test Coverage
**/build/reports/
**/build/jacoco/
